<h2>Sign in</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs :email, :password %>
  <% if devise_mapping.rememberable? -%>
  	<%= f.input :remember_me, :as => :boolean %>
  <% end -%>
  <%= f.action :submit %>
<% end %>  

<%= render :partial => "devise/shared/links" %>