<div class="group">
    <%= f.label :title, t("activerecord.attributes.product.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
    <span class="description">text</span>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.product.description", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :rows => 4, :class => 'text_area' %>
    <span class="description">text</span>
  </div>

  <div class="group">
    <%= f.label :image_url, t("activerecord.attributes.product.image_url", :default => "Image url"), :class => :label %>
    <%= f.text_field :image_url, :class => 'text_field' %>
    <span class="description">text</span>
  </div>

  <div class="group">
    <%= f.label :price, t("activerecord.attributes.product.price", :default => "Price"), :class => :label %>
    <%= f.text_field :price, :class => 'text_field' %>
    <span class="description">text</span>
  </div>

  <div class="group">
    <%= f.label :cover_image_uid, t("activerecord.attributes.product.cover_image_uid", :default => "Cover image uid"), :class => :label %>
    <%= f.text_field :cover_image_uid, :class => 'text_field' %>
    <span class="description">text</span>
  </div>

  <div class="group">
    <%= f.label :cover_image_name, t("activerecord.attributes.product.cover_image_name", :default => "Cover image name"), :class => :label %>
    <%= f.text_field :cover_image_name, :class => 'text_field' %>
    <span class="description">text</span>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "Cancel"), admin_products_path, :class => "text_button_padding link_button" %>
</div>