<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_products_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_product_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Products</h2>
    <div class="inner">
      <%= will_paginate @products %>
      <table class="table">
        <tr>
          <%= semantic_form_for @search,  :url => admin_products_path, :html => {:method => :get} do |sf| %>
          <th>
            <%= sf.input :title_contains, :label => "Title like" %>
          </th>
          <th>
            <%= sf.input :price_greater_than, :label => "Greater than", :input_html => {:size => 5} %>
          </th>
          <th>  
            <%= sf.input :price_less_than, :label => "Less than", :input_html => {:size => 5} %> 
          </th>
          <th>  
            <%= sf.submit "Search" %>
          </th>
        </tr>
        <% end %>
        <tr>             
          <th class="first">ID</th>
          <th> <%= sort_link @search, :title %> </th>
          <th> <%= sort_link @search, :price %> </th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @products.each do |product| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= link_to product.title, admin_product_path(product) %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td class="last">
             <%= link_to image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.show", :default=> "Show")}") + "" + t("web-app-theme.show", :default=> "Show"), admin_product_path(product), :class => "button" %> 
            <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + "" + t("web-app-theme.edit", :default=> "Edit"), edit_admin_product_path(product), :class => "button" %> 
            <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + "" + t("web-app-theme.delete", :default => "Delete"), admin_product_path(product), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>