<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "List", admin_products_path  %></li>
      <li><%= link_to "New", new_admin_product_path %></li>
      <li class="active"><%= link_to "Show", admin_product_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Title:</b>
          <%= @product.title %>
        </p>

        <p>
          <b>Description:</b>
          <%= @product.description %>
        </p>

        <p>
          <b>Price:</b>
          <%= @product.price %>
        </p>

        <p>
          <b>Created at:</b>
          <%= @product.created_at %>
        </p>

        <p>
          <b>Updated at:</b>
          <%= @product.updated_at %>
        </p>

      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_product_path(@product), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_product_path(@product), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>