<% @products.each do |product| %>
	<div class="entry" >
		<div class="<%= product.id %>">
			<%= add_compare_link(product) %>
		</div>
		<%= various_image_links(product) %>
		<h3><%= product.title %></h3>
		<%=sanitize product.description %>
			<div class="price_line" >
				<span class="price" ><%= number_to_currency(product.price) %></span>
					<%= add_to_cart_button(product) %>	
			</div>
			<div class="comments">
			<%= comments_link(product) %>
			</div>	
			<div id="<%= "#{product.id}" %>"></div>
	</div>
<% end %>	