<% if @visits_count %>
<div class='counter'>
	<%= pluralize(session[:count], "visit") %> 
</div>
<% end %>
<h1><%= t('.title_html') %></h1>
<p><%= paginate @products, :window => 3 %></p>
<% @products.each do |product| %>
	<div class="entry" >
			<%= various_image_links(product) %>
		<h3><%= product.title %></h3>
		<%=sanitize product.description %>
			<div class="price_line" >
				<span class="price" ><%= number_to_currency(product.price) %></span>
					<%= add_to_cart_button(product) %>	
			</div>
			<div class="comments">
			<%= comments_link(product) %>
			</div>	
			<div id="<%= "#{product.id}" %>"></div>
	</div>
<% end %>
