<% if @visits_count %>
<div class='counter'>
	<%= pluralize(session[:count], "visit") %> 
</div>
<% end %>
<h1><%= t('.title_html') %></h1>
<div id="compare">
	<%= render "compare" %>
</div>
<p><%= paginate @products, :window => 3 %></p>	
<div id="products_render">
	<%= render "products" %>
</div>
